pip >= 7.0.0			      	pip
pytest					pytest
mock					mock
IPython >= 1.2.1			ipython
PyYAML >= 3.10  			artifacts
XlsxWriter >= 0.9.3			XlsxWriter
artifacts >= 20150409 			artifacts
bencode 				bencode
binplist >= 0.1.4			binplist
construct >= 2.5.2,<= 2.5.3  		dfvfs
dfdatetime >= 20160319			dfvfs
dfvfs >= 20160803			dfvfs
dfwinreg >= 20160320			dfwinreg
dpkt >= 1.8				dpkt
efilter >= 1-1.5 			efilter *****
hachoir-core >= 1.3.3			hachoir-metadata
hachoir-metadata >= 1.3.3 		hachoir-metadata
hachoir-parser >= 1.3.4			hachoir-metadata
libbde-python >= 20140531		dfvfs
libesedb-python >= 20150409		libesedb 
libevt-python >= 20120410		libevt 
libevtx-python >= 20141112		libevtx
libewf-python >= 20131210		dfvfs
libfsntfs-python >= 20151130 		dfvfs
libfvde-python >= 20160719		dfvfs
libfwnt-python >= 20160418		dfvfs
libfwsi-python >= 20150606		libfwsi
liblnk-python >= 20150830		liblnk
libmsiecf-python >= 20150314		libmsiecf
libolecf-python >= 20151223    		libolecf
libqcow-python >= 20131204		dfvfs
libregf-python >= 20150315		dfwinreg
libscca-python >= 20151226 		libscca *****
libsigscan-python >= 20150627		dfvfs
libsmdev-python >= 20140529		dfvfs
libsmraw-python >= 20140612		dfvfs
libvhdi-python >= 20131210		dfvfs
libvmdk-python >= 20140421		dfvfs
libvshadow-python >= 20160109		dfvfs
libvslvm-python >= 20160109		dfvfs
pefile >= 1.2.10-13			pefile 
psutil >= 1.2.1				psutil
pycrypto >= 2.6.0			dfvfs
pyparsing >= 2.0.3			pyparsing
python-dateutil >= 1.5			pyton-dateutil
pytsk3 >= 20160721			dfvfs
pytz					pytz
pyzmq >= 2.1.11				pyzmq
requests >= 2.2.1			python-requests
six >= 1.1.0                            dfvfs
yara-python >= 3.4.0			yara-python
